/*
    Colors and styles on cards are from bootstrap

    colors:
    https://getbootstrap.com/docs/4.5/getting-started/theming/#css-variables

    cards:
    https://getbootstrap.com/docs/4.5/components/card/
*/

.card {
  margin-bottom: 25px;
  border-color: var(--secondary);
}

.card-header {
  background-color: var(--secondary);
  color: var(--white);
}

.divider {
  border-color: var(--primary);
  background-color: var(--primary);
  text-align: center;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.containerBackground {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.centered {
  margin-left: 35%;
}

.cardStyle {
  height: 550px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /*border: 1px solid rgba(0, 0, 0, 0.125);*/
  border-radius: 0.25rem;
}

.card-title{
  font-weight: bold;
}
